body {
    font-family: Arial, sans-serif;
    background-image: url('background3.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border:none;
    border-radius: 9px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    color: solid black;
}

li {
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

li.completed {
    background-color: #d3ffd3;
    text-decoration: line-through;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.remove-btn:hover {
    background-color: darkred;
}


